// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary            = hsl(213, 57%, 44%)
$secondary          = hsl(24,89%,54%)
$accent             = hsl(39, 100%, 54%)
$positive           = hsl(124, 81%, 38%)
$negative           = hsl(0, 81%, 38%)
$info               = hsl(199, 33%, 47%)
$warning            = hsl(10, 100%, 49%)
$light              = hsl(0, 0%, 95%)
$faded              = hsl(0, 0%, 47%)
$dark               = hsl(0, 0%, 20%)
$alergeny           = hsl(28, 100%, 84%)
$text-color         = hsl(56, 33%, 10%)
$background-color   = $light
$link-color         = $primary
$link-color-hover   = $secondary
$link-color-active  = $text-color
$alt-gray           = hsla(39, 0%, 54%, .25)
$alt-losos          = hsla(39, 100%, 54%, .2)
$alt-light-primary  = hsla(213, 57%, 54%, .25)

$alt-gray = hsla(39, 0%, 54%, .1)
$alt-gray-light = hsla(39, 0%, 54%, 0.07)


$jidelnaCardHeight = 530px

$alt-text-color = #546e7a //- barva hlavniho textu
$alt-text-size = 16px
$alt-text-font = RedHatDisplay-reg
$footer-background = hsla(253, 100%, 54%, .1)
$footer-color = $alt-text-color

$alt-title-color = #263238
$alt-title-size = 18px
$alt-title-font = RedHatDisplay-med

$pageFixWidth = 1110px

// karty řešení
$numberOfCardsPerLine = 2
$gutterSize = 25px
$cardHeight = 520px

// dorsys.cz
$iconContainerSize = 90px
$iconSize = 30px //velikost samotné ikonky
$titleContainerSize = 25px
$tabsContainerSize = 54px
$avatarMargin = 30px
$avatarBackground = $alt-violet-light

$gekonCardHeight = 570px
$gekonNumberOfCardsPerLine = 3

$gekonIconContainerSize = 150px
$gekonIconSize = 135px //velikost fotky
$gekonTitleContainerSize = 25px
$gekonTabsContainerSize = 114px
$gekonAvatarMargin = 30px
$gekonAvatarBackground = $gekon-green-light


